= render 'shared/header' 

= @duty.name

%table.roster 
  %tr 
    %th 日付
    - @dutys.each do |dutys|
      %th.roster-name
        = dutys.user.nickname
  %tr
    %td test/each
    - @dutys.count.times do
      %td.check
        %a{ :href => 'http://google.co.jp', :id => 'anchor1' }○

= render 'shared/footer' 
