.roster
  .roster-top
    %p 
      当番表名：
      = @dutyfind.name
      .duty-btn
        = link_to '編集', edit_duty_path
      .duty-btn
        = link_to '削除', duty_path, method: :delete

  %table.roster-table
    %tr 
      %th 日付
      - @dutys.each do |dutys|
        %th.roster-name
          = dutys.user.nickname
    %tr
      %td test/each
      - @dutys.count.times do
        %td.check
          %a{ :href => 'http://google.co.jp', :id => 'anchor1' }○