%body 

%div.title
  %h1.title-ja 当番表
  %p.title-en duty roster

  %p.title.duty ホスト役

%table.roster 
  %tr 
    %th 日付
    %th dy
    %th ey
    %th ks
    %th rh
  %tr 
    %td 2021/2/13
    %td 
    %td 
    %td 
    %td 
      %a{ :href => 'http://google.co.jp', :id => 'anchor1' }○
  %tr 
    %td 2021/2/12
    %td 
    %td 
    %td ○
    %td 
  %tr 
    %td 2021/2/11
    %td 
    %td ○
    %td 
    %td 




%p Find me in app/views/dutys/index.html.erb
