header{
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.user-name{
  padding: 10px;
}

.user-btn{
  padding: 10px;
  background-color: lightblue;
}

div.title{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  background-color: lightblue;
}

.title-ja{
  padding: 10px;
  font-size: 30px;
}

.title-en{
  padding: 10px;
}

.title-duty{
  padding: 10px;
}

.login{
  display: flex;
  align-items: center;
}

.content{
  display: flex;
}

.left-content{
  width: 350px;
  text-align: center;
  height: calc(100vh - 15vh);
}

.duty-btn{
  margin: 10px;
  padding: 10px;
  width: 100px;
  background-color: lightblue;
}

.duty-group{
  margin: 10px;
}

.main-content{
  box-sizing: border-box;
  border-top: 3px solid lightskyblue;
  border-left: 3px solid lightskyblue;
  width: calc(100vw - 350px);
  height: calc(100vh - 15vh);
}

.roster{
  margin: 20px 0 0 20px;
}

.roster-top{
  display: flex;
  align-items: center;
}

table,td,th{
  border: 2px black solid;
}

.roster-name{
  width: 100px;
}

.check{
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.copyright{
  height: 5vh;
}

.dutyform{
  display: flex;
  flex-direction: column;
  align-items: center;
}