header{
  display: flex;
  height: 10vh;
}

.user-name{
  padding: 10px;
}

.user-btn{
  padding: 10px;
  background-color: lightblue;
}

div.title{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 270px;
  background-color: lightblue;
}

.title-ja{
  padding: 10px;
  font-size: 30px;
}

.title-en{
  padding: 10px;
}

.title-duty{
  padding: 10px;
}

.right-up-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 270px);
}

.show-content{
  display: flex;
  align-items: center;
}

.duty-name{
  margin-left: 20px;
}

.duty-btns{
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.login{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.content{
  display: flex;
}

.left-content{
  width: 270px;
  text-align: center;
  height: calc(100vh - 15vh);
}

.duty-btn{
  margin: 10px;
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: lightblue;
}

.duty-new-btn{
  margin: 10px auto;
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: lightblue;
}

.duty-group{
  margin: 10px;
}

.main-content{
  box-sizing: border-box;
  border-top: 3px solid lightskyblue;
  border-left: 3px solid lightskyblue;
  width: calc(100vw - 270px);
  height: calc(100vh - 15vh);
  overflow: scroll;
}

.roster{
  margin: 20px 0 0 20px;
}

.roster-top{
  display: flex;
  align-items: center;
}

.top-img{
  width: 100%;
}

table,td,th{
  border: 2px black solid;
  text-align: center;
}

.Sun{
  background: lightpink;
}

.Sat{
  background: lightskyblue;
}

.roster-date{
  width: 150px;
}

.roster-name{
  width: 80px;
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.copyright{
  height: 5vh;
}

.duty-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roster-forms{
  display: flex;
  margin-bottom: 10px;
}

.roster-form{
  margin-right: 20px;
}

.roster-label{
  display: block;
}

.alert{
  color: red;
}