div.title{
  display: flex;
  align-items: center;
}

.title-ja{
  padding: 10px;
}

.title-en{
  padding: 10px;
}

.title-duty{
  padding: 10px;
}

table,td,th{
  border: 2px black solid;
}

.name{
  width: 70px;
}

.check{
  text-align: center;
}